$c-gold-dark: #FFBF00;
$c-gold: #ffaf00;
$c-gold-light: #ffb142;
$c-gold-pale: #FFDC73;
$c-black: #010101;
// $c-black: #2c2c2c;
$c-blue: #34ace0;
$c-grey: #FBFBFB;
$c-grey-light: #8a8fa3;
$c-grey-dark: #2D3436;
$c-white: #fff;