@use './colors.scss';

@mixin h-base {
  font-weight: 700;
  line-height: 1.25;
  color: colors.$c-black;
  letter-spacing: 0.05rem;
}

@mixin h1 {
  font-size: 5rem;
  @include h-base();
}

@mixin h2 {
  font-size: 3rem;
  @include h-base();
}

@mixin h3 {
  font-size: 2rem;
  @include h-base();
}

@mixin h4 {
  font-size: 1.5rem;
  @include h-base();
}

@mixin h5 {
  font-size: 1.25rem;
  @include h-base();
}

@mixin paragraph {
  color: colors.$c-grey-dark;
  line-height: 1.6;
  font-size: 1rem;
}


@mixin typography {
  &-h {
    &-1 {
      @include h1();
    }
    &-2 {
      @include h2();
    }
    &-3 {
      @include h3();
    }
    &-4 {
      @include h4();
    }
    &-5 {
      @include h5();
    }
  }
  &-p {
    @include paragraph();
  }
}

.t {
  @include typography();
}